{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="texteditor">
                {{ form.media }}
                {{ form.as_p }}
            </div>
            <input type="submit" class="btn btn-info" onclick="TextConvert()">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="htmleditor">
                <p>HTML Editor</p>
                <div class="form-group">
                    <textarea class="form-control " rows="16" id='htmldata'>
                </textarea>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}